<section class="change_pswd">
    <div class="row">
        <div class="form-box col-5 mr-auto ml-auto">
            <h2>Change Password</h2>
            <form non-validate [formGroup]="loginForm" (ngSubmit)="login();">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon" id="username">
                    <i class="fa fa-key" aria-hidden="true"></i>
                  </span>
                  <input type="password" formControlName="oldPassWord" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="username">
                </div>
                <app-error-messages [control]="loginForm.controls['oldPassWord']"></app-error-messages>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon" id="password">
                    <i class="fa fa-key" aria-hidden="true"></i>
                  </span>
                  <input type="password" formControlName="newPassWord" class="form-control" placeholder="password" aria-label="password" aria-describedby="password">
                </div>
                <app-error-messages [control]="loginForm.controls['newPassWord']"></app-error-messages>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon" id="companycode">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                  </span>
                  <input type="password" formControlName="confirmPassWord" class="form-control" placeholder="CompanyName" aria-label="companycode"
                    aria-describedby="companycode">
                </div>
                <app-error-messages [control]="loginForm.controls['confirmPassWord']"></app-error-messages>
              </div>
              <div class="form-grop">
                <input class="btn btn-primary " type="button" value="Reset" (click)="resetform()">
                <input class="btn btn-primary " type="submit" value="Change Password" [disabled]="loginForm.invalid">
              </div>
            </form>
          </div>
    </div>
  </section>

